body{
    background-color: rgb(196, 218, 226);
    width: 150%;
    height: 300%;
    font-family: "Red Hat Display";
   font-weight: 500, 700, 900;
}
.container{
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    width: 100%
    height: 100vh;
    justify-content: center;
}
.first img{
    display: block;
   margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px 15px 0px 0px;
    align-content: center;
}
.listen{
    text-align: center;
    justify-content: center;
}
.box-2{
    background-color: white;
    align-content: center;
    width: 50%;
    margin-top: -19px;
    padding-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.summary{
   color: hsl(223, 47%, 23%);
   text-align: center;
   padding-top: 5%;
}
.box-2 h2{
    color: hsl(223, 47%, 23%);
}
.box-2 p{
    display: flexbox;
    width: 90%;
    font-size: 16px;
    align-content: center;
    color: gray;
}
.listen{
text-align: center;
margin: auto;
width: 50%;
}
.annual{
    background-color: whitesmoke;
    position: relative;
    display: flex;
    width: 90%;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.small{
width: 70px;
}
.annualplan{
    color: hsl(223, 47%, 23%);
    font-size: medium;
    white-space: nowrap;

}
.change{
    width: 70px;
    float: right;
    padding-left: 90px;
}
button{
    background-color:  hsl(245, 75%, 52%);
    border-radius: 10px;
    color: white;
    width: 80%;
    height: 9vh;
    margin-left: 35px;
    border-color: hsl(245, 75%, 52%);
}
.cancel{
    color: gray;
   margin-left: 120px;
   text-decoration: none;
}
a:visited{
    color: red;}
a:hover{
    color: purple;
}
button:hover{
    color: purple;
}
